h1{
    color: white;
    font-family: Verdana;
    border-bottom: 20px dashed orange;
    background-color: navy;
    padding: 50px;
    margin: 20px;
}
p{
    font-family: sans-serif;
    margin: 20px;
}
h2{
    font-family: Tahoma;
    margin: 20px;
}
h3{
    font-family: sans-serif;
    margin: 20px;
}
table{
    font-family: sans-serif;
    margin: 20px;
}
th{
    color: white;
    background-color: salmon;
    padding: 10px;
}
td{
    padding: 10px;
    background-color: seashell;
}
nav{
    font-family: sans-serif;
    overflow: hidden;
    display: block;
    justify-content: space-evenly;
    background-color: seashell;
    margin:20px;
}
nav a{
    padding: 20px 25px;
    color: navy;
}
a:link, a:visited{
    transition: 0.3s;
    text-decoration: none;
    display:inline-block;
}
nav a:hover {
    background-color: salmon;
    color: white;
    transition: 0.3s;
}
footer {
    margin:20px;
    background-color: navy;
    overflow: hidden;
    display: block;
    justify-content: space-evenly;
}
footer a{
    color: white;
}
footer a:hover{
    color: navy;
    background-color: orange;
    transition: 0.3s;
}
.banner{
    background-color: salmon;
    color: seashell;
    padding:30px 25px;
    border-top: 10px solid navy;
}
li{
    font-family: sans-serif;
    margin: 5px 0px;
}
